body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 2rem;
}
