<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">

</head>
<body class="center-content">
<div class="container">
    <h1>Jobs for you</h1>
    {% for tweet in searchResult %}
        <div class="tweet">
            <img src={{ tweet.author.profile_image_url }}>
            <div class="user-name"><strong>{{ tweet.author.name }}</strong></div>
            <div class="user-screen-name">@{{ tweet.author.screen_name }}</div>
            <div class="tweet-text">{{ tweet.text }}</div>
            <div class="tweet-date">{{ tweet.created_at }}</div>
            <a class="btn btn-blue no-underline" href="https://twitter.com/i/web/status/{{ tweet.id_str }}" target="_blank">Go to tweet</a>
            <form class="inline" action="{{ url_for('follow_user', user_id=tweet.author.id, screen_name=tweet.author.screen_name) }}">
                <button type="submit" class="btn btn-blue">Follow</button>
            </form>
        </div>
    {% else %}
        <p><em>Could not find any jobs for you.</em></p>
    {% endfor %}
</div>
</body>
</html>