{% extends "_main.html" %}
{% block title %}Here's what happened{% endblock %}

{% block sidebar %}
    {% if is_a_user %}
        <div class="message">
            <p class="greetings">
                Hello, <span class="twitter__name text--bold">{{ bag.name }}</span>
                <span class="text--muted">a.k.a</span>
                <span class="twitter__screen-name">@{{ bag.screen_name }}</span><br>
                You created your Twitter account at:</p>
            <p class="twitter__created">
                <a class="created__component" href="#events__day" title="events of the day" data-note>
                    <span class="created__day">{{ bag.created.day }}</span>
                    <span class="created__month">{{ bag.created.month }}</span></a>
                <a class="created__component" href="#events__year" title="events of the year" data-note>
                    <span class="created__year">{{ bag.created.year }}</span>
                </a>
            </p>
        </div>
    {% else %}
        <div class="message">
            <p>Sorry, no such user exists on Twitter 😕</p>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="events">
        <div id="events__day" class="events__day">
            {% include "_events.day.html" %}
        </div>
        <div id="events__year" class="events__year">
            {% include "_events.year.html" %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            let notables = [].slice.call(document.querySelectorAll('[data-note]'));

            notables.forEach(an => {
                let note = document.createElement('span');
                note.className = 'note';
                note.innerText = an.title;
                an.appendChild(note)
            });
        });
    </script>
{% endblock %}