{% extends "_main.html" %}
{% block title %}So, what happened then? - A Twitter Experiment{% endblock %}

{% block content %}
    <p>Hello, fellow interwebz user ✌</p>
    <p>With this super cool app you can learn what happened in history <br>
        the day you've created your Twitter account</p>
    <form method="POST" action="{{ url_for('events') }}">
        <input type="text"
               name="twitter_handle"
               placeholder="@username"
               required>
        <button class="button" type="submit">Submit</button>
    </form>
{% endblock %}